html:not(.electron-mode), html body {
    background: transparent;
}
#bus {
    width: 640px;
    height: 480px;
    background: url('./images/bus.png') 0 0;
    background-size: auto 100%;
    image-rendering: pixelated;
    
}

#odometer {
    position: absolute;
    left: 363px;
    top: 383px;

}

.digit {
    background-image: url(./images/desertbus.png);

    width: 10px;
    height: 16px;
    float: left;
}

.digit:last-child {
    margin-left: 3px;
}

.black {

    image-rendering: pixelated;
    background-position-x: 0;
    background-position-y: -460px;

}
.white {
    background-position-x:  -12px;
    background-position-y: -460px;

    image-rendering: pixelated;
}

#speedometer {
    position: absolute;
    top: 386px;
    left: 188px;
    width: 64px;
    height: 64px;
}
#needle {
    height: 64px;
    width: 64px; 
    background-position-y: -640px;
    background-image: url(./images/desertbus.png);

    image-rendering: pixelated;
    background-position-x: -192px;
}

#steering-wheel {
    background-image: url('./images/steering.png');

    image-rendering: pixelated;
    background-position-x: 0;
    width: 192px;
    height: 130px;
    position: absolute;
    top: 350px;
    left: 42px;
    animation: steer 2.5s steps(4) infinite alternate;
}
@keyframes steer {
    100% {background-position-x: -400%;}
 
    
}
#driver-name {
    text-align: center;
    height: 30px;
    position: absolute;
    top: 50px;
    left:79px;
    font-size: 16px;
    font-family: 'Press Start 2P';
    color: black;
}

#tree {
    width: 32px;
    height: 48px;
    background-image: url('./images/tree.png');
    image-rendering: pixelated;
    background-position-x: 0;
    position: absolute;
    top: 80px;
    left: 439px;
    animation: spin 1s steps(6) infinite alternate;
}
@keyframes spin {
    /* 0% { background-position-x: 0; } */

    100% { background-position-x:-600% ; }
  }