body {
	font-family: 'Noto Sans';
}
#container {
	width: 1920px;
	height: 1080px;
	background-color: #222222;
	position: relative;
}
	#zwift {
		background-color: #666666;
		width: 1280px;
		height: 960px;
		position: relative;
		right: -20px;
		top: 15px;
		border: 5px solid #666666;

	}

	#right-section{
		position: absolute;
		left: 590px;
		top:0;
		margin: 5px;
		height: 1080px;
		width: 1330px;
	}
	#chat .infolabel {
		width: 1260px;
		height: 45px;
		left: 20px;
		position: relative;
		bottom: -10px;
	}
	.bumper-column {
		border-right: 5px solid #111111;
		border-left: 5px solid #111111;
		width: 20px;
		height: 1080px;
	}
	#event-info {
	
		font-size: 60px;
		font-family: 'Noto Sans';
		padding: 5px;
		padding-top: 10px;
		text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
		
	}
	#course-name { 
								
		width: 280px;
		font-family: 'Noto Sans';
		font-weight: 600;
		font-size: 35px;
		float: left;
			margin-right: 3px;

	}
	#course-name .infolabel {

			white-space: nowrap;
			overflow: hidden;
	}
	.scrollbox{
		animation: move 25s linear infinite;
			display: inline-block;
			padding-left: 100%;
	}
	@keyframes move {
		0%   { transform: translate(0, 0); }
		100% { transform: translate(-100%, 0); }
	}
	#timer {
					
		display: inline-block;
		width: 225px;
		font-family: 'Noto Sans Mono';
		font-weight: 600;
		font-size: 35px;
	}
	#sidebar {
		position: absolute;
		top: 0px;
		left: 35px;
		height: 1080px;
		width: 550px;
	}
	.raised-section {
		padding: 5px;
		border-right: 5px solid #111111;
		border-left: 5px solid #111111;
		border-top: 5px solid #111111;
					border-bottom: 5px solid #111111;
				background-color: #111111;

		margin-bottom: 6px;
	}
	.infolabel {
		padding: 15px 10px ;
		
		border-left: 5px solid #666666;
		border-top: 5px solid #666666;
		border-right: 5px solid #666666;
		border-bottom: 5px solid #666666;
		text-align: center;

		color: white;
	}
	.infolabel .subtitle {
		font-family: 'Noto Sans';
		color: white;
		font-size: 20px;
	}
	#roster {
		position: absolute;
		bottom: 0px;
		width: 530px;

	}
	#roster .name {
		width: 50%;
	}
	#roster h3 {
		font-family: 'Noto Sans';
		font-size: 50px;
		color: White;
		font-weight: 400;
		text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
		margin: 0;
	}
	.smallplain {
		font-family: 'Noto Sans';
		font-size: 40px;
	}
	#roster .infolabel {
		color: #CCCCCC;
		font-family: 'Noto Sans';
		font-weight: 600;
		padding: 20px;
		height: 378px;
	}
	#roster-table {
		text-align: left;
		width: 100%
	}
	#roster .monotime {
		font-family: 'Noto Sans Mono';
		text-align: right;
	}
	#roster th {
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color: #666666;
		font-family: 'Exo 2';
	}
	#roster tr {
		font-size: 25px;
	}
	#roster td {
		white-space: nowrap;
		overflow: hidden;
	}
	#roster .draft {
		width: 20%;
		text-align: right;
	}

	.right-heading {
		text-align: right;
	}
	#stats .infolabel {
		height: 295px;
		padding: 20px 50px;
	}

			.zone {
		width: 20%;
		padding: 0;
		margin: 0;
		float: left;
		border-radius: 0;
	}
	.track{
		border-radius: 15px;
		width: 100%;
		color: white;
		text-align: right;
		font-size: 20px;


		background-image: 
linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 10%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0, 0, 0, 0.3) 90%),
linear-gradient(to right, #008DE3 calc(400px * 1/6 - 20px), #47C63A calc(400px * 1/6 + 20px), #47C63A calc(400px * 2/6 - 20px), #FFD300 calc(400px * 2/6 + 20px), #FFD300 calc(400px * 3/6 - 20px), #FF9900 calc(400px * 3/6 + 20px),  #FF9900 calc(400px * 4/6 - 20px), #F44E5A calc(400px * 4/6 + 20px), #F44E5A calc(400px * 5/6 - 20px), #9C1AA3 calc(400px * 5/6), #9C1AA3 400px);
		transition: 0.4s linear;  
		transition-property: background-color;  
			height: 40px;

		}
	#lap {
		width: 400px;
			font-size: 20px;
		margin: 10px auto;
		position: relative;
	}
	#lap .label {
		position: absolute;
		right: 13px;
		top: 10px;
	}
	#lap .track {
		background-image: 
			linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 10%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0, 0, 0, 0.3) 90%);
	background-color: #008DE3;
	}

	@keyframes slideup {
		from {width: 30%;}
		to {width: 67%;}
	}
	.meter {
		margin-top: 5px;
		padding: 1%;
		height: 40px;
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.08);
		border-radius: 15px;

	}

.livestat {
	color: #BBBBBB;
	width: 33%;
	float: left;
	font-family: 'Exo 2', sans-serif;
	font-weight: medium;
	font-size: 40px;
}
.statLabel {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #666666;
}
.dataDivider {
	clear: both;

}