/* Layout */
html:not(.electron-mode) body { background: transparent !important; }

html:not(.electron-mode) { background-color: #00000000 !important; } 

body {
	
	font-family: 'Exo 2', sans-serif;
}
#window {display: none}
.electron-mode #window {
	display: block;
}
#overlay {
	width: 1920px;
	height: 1080px;
	position: relative;
}
.electron-mode #overlay {
	display: none;
}

#zwift {

	width: 1280px;
	height: 960px;
	position: relative;
	right: -20px;
	top: 15px;
	background: transparent;

}
#sidebar {

	padding: 5px;
	width: 100%;
	background-color: #111111;
} 
#overlay-sidebar {
	position: absolute;
	top: 0px;
	height: 1080px;
	width: 550px;
}
/* #isolated-sidebar
{
	width: 480px;
} */

#right-section{
	position: absolute;
	left: 590px;
	top:0;
	margin: 5px;
	height: 1000px;
	width: 1330px;
}
#bottom-bar {
	height: 80px;
	width: 1370px;
	margin-left:550px;
	position: absolute;
	bottom: 0px;
	background: #111111;
	padding: 5px;
}
.section {
	padding: 15px 10px ;
	margin: 5px;

	background-color: #111111;

	border: 3px solid #333333;
	text-align: center;

	color: white;
}
#bottom-bar .section {
	padding-top:5px;
	height: 58px;
	border: none;	
}
#chat .section {
	width: 1260px;
	height: 45px;
	left: 20px;
	position: relative;
	bottom: -10px;
}
.bumper-column {
	border-right: 5px solid #111111;
	border-left: 5px solid #111111;
	width: 20px;
	height: 1080px;
}

/* Event / Course Heading */
#event-info {
	font-size: 25px;
	padding: 5px;
	padding: 10px;
	font-weight: 600;

	
}
#course-name { 
							
	font-weight: 600;
	font-size: 15px;
		margin-right: 3px;

}

#name {
	float: left;
	width: calc(64% - 8px);
	font-weight: 600;
	font-size: 25px;
}
#timer {
				
	float: left;
	width: 33%;
	font-weight: 600;
	font-size: 25px;
}


	.section .subtitle {
		font-family: 'Noto Sans';
		color: white;
		font-size: 20px;
	}


	#roster .name {
		width: 50%;
	}
	#roster h3 {
		font-family: 'Noto Sans';
		font-size: 50px;
		color: White;
		font-weight: 400;
		text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
		margin: 0;
	}
	.smallplain {
		font-family: 'Noto Sans';
		font-size: 40px;
	}
	#roster.section {
		color: #CCCCCC;
		font-family: 'Noto Sans';
		font-weight: 600;
		padding: 20px;
		height: 448px;
	}
	#roster-table {
		text-align: left;
		width: 100%
	}
	#roster .monotime {
		font-family: 'Noto Sans Mono';
		text-align: right;
	}
	#roster th {
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		color: #666666;
		font-family: 'Exo 2';
	}
	#roster tr {
		font-size: 25px;
	}
	#roster td {
		white-space: nowrap;
		overflow: hidden;
	}
	#roster .draft {
		width: 15%;
		text-align: right;
	}

	.right-heading {
		text-align: right;
	}
	#stats.section {
		height: 440px;
	}

			.zone {
		width: 20%;
		padding: 0;
		margin: 0;
		float: left;
		border-radius: 0;
	}

	#lap {
		width: 400px;
			font-size: 20px;
		margin: 10px auto;
		position: relative;
	}
	#lap .label {
		position: absolute;
		right: 13px;
		top: 10px;
	}


.livestat {
	color: #BBBBBB;
	width: 33%;
	float: left;
	font-family: 'Exo 2', sans-serif;
	font-weight: medium;
	font-size: 40px;
}
.statLabel, label {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #666666;
}

.dataDivider {
	clear: both;
	height:10px;

}

.segments {
	width: 400px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 15px;
}

#powerchart {
	height: 150px;
	width: 520px;
}

#course-notes {
	font-size: 25px;
	text-align: left;
	padding: 0px 15px;
	height: 55px;
	float: left;
}
#section-progress {
	float: left;
	margin-top: 0px;
	width: 300px;
}
#section-progress .meter {
	margin-top: 0;
	height: 30px;
}
#section-progress .track  {
	height: 30px;
}