.track {
	background-image: 
		linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 10%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0, 0, 0, 0.3) 90%);
background-color: #008DE3;
}
.track{
	border-radius: 15px;
	width: 100%;
	color: white;
	text-align: left;
	font-size: 20px;


	transition: 0.4s linear;  
	transition-property: background-color;  
		height: 40px;

	}
@keyframes slideup {
	from {width: 30%;}
	to {width: 67%;}
}
.meter {
	margin-top: 5px;
	padding: 1%;
	height: 40px;
		box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.08);
	border-radius: 15px;
	position: relative;

}

.trackLabel {
	padding-left: 15px;
	padding-top: 5px;
	position: relative;
	z-index: 1000;
	min-width: 75px;
}